<div id="page_wrapper">
  <h2>Cadastro do Usuário</h2><br><br>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-inputs">
      <%= f.input :name, label: 'Nome do Usuário', required: true, autofocus: true %><br><br>
      <%= f.input :email, label: 'Email do Usuário', required: true, autofocus: true %><br><br>
      <%= f.input :password, label: 'Password (No mínimo 6 caracteres)', required: true %><br><br>
      <%= f.input :password_confirmation, label: 'Confirmação do Password', required: true %><br><br>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Cadastrar" %>
      <button class="button"><%= link_to 'Voltar', root_path %></button>
    </div>

    <h4>* - Campos Obrigatórios</h4>
  <% end %>

</div>